[Unit]
Description=Run HA Sinkhole Blocklist Updater on schedule

[Timer]
# Run every 6 hours
OnCalendar=daily
# Run on boot if the timer was missed (e.g., system was down)
Persistent=true

[Install]
WantedBy=timers.target
