[Unit]
Description=HA Sinkhole Blocklist Updater
# This service is not meant to be started or enabled directly
RefuseManualStart=yes
RefuseManualStop=yes

[Container]
Image=ghcr.io/davison/ha-sinkhole/blocklist-updater:{{ ha_sinkhole_manifest[install_channel]['blocklist-updater'] | default('MISSING_VERSION') }}
{% if ha_vars.blocklist_urls is defined %}Environment=BLOCKLIST_URLS="{{ ha_vars.blocklist_urls | join(' ') }}"
{% endif %}
Volume=/var/lib/ha-sinkhole/data:/data:Z
LogDriver=journald
# No restart policy - this is a one-shot task
