[Unit]
Description=HA Sinkhole DNS Node
Wants=network-online.target
After=network-online.target
# Ensures the blocklist file exists before this service starts for the first time
Requires=blocklist-updater.service
After=blocklist-updater.service

[Container]
Image=ghcr.io/davison/ha-sinkhole/dns-node:{{ install_channel | default('stable') }}
Environment=LOCAL_DOMAIN={{ ha_vars.local_domain | default('') }}
Environment=LOCAL_UPSTREAM_DNS={{ ha_vars.local_upstream_dns | default('') }}
Environment=UPSTREAM_DNS={{ ha_vars.upstream_dns | join(' ') }}
Environment=TRUSTED_NETS={{ ha_vars.trusted_nets | join(' ') }}
Volume=/var/lib/ha-sinkhole/data:/data:Z
LogDriver=journald
PublishPort=1053:1053/udp
PublishPort=1053:1053/tcp
PublishPort=8080:8080

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
